<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="FlexRouter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <FlexRouter.Properties.Settings>
            <setting name="DefaultProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="ControlsSynchronizationIsOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JoystickBindByInstanceGuid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="F3Indicator1to8SegmentsOrder" serializeAs="String">
                <value>0,1,2,3,4,5,6,7</value>
            </setting>
            <setting name="F3Indicator9to16SegmentsOrder" serializeAs="String">
                <value>7,6,5,4,3,2,1,0</value>
            </setting>
        </FlexRouter.Properties.Settings>
    </userSettings>
</configuration>
