<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="FlexRouter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <FlexRouter.Properties.Settings>
            <setting name="DefaultProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="ControlsSynchronizationIsOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JoystickBindByInstanceGuid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="F3IndicatorSegmentsToPin" serializeAs="String">
                <value>A-5,B-4,C-2,D-1,E-0,F-7,G-6,P-3</value>
            </setting>
        </FlexRouter.Properties.Settings>
    </userSettings>
</configuration>
